[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.0.1"
django-ckeditor = "6.2.0"
pillow = "9.0.0"
black = "*"
flake8 = "*"
prospector = "*"

[dev-packages]
